<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra presenter</title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no,
                                   minimal-ui">
    <link rel="stylesheet" href="/js/appjs-v3/app.min.css" />
    <link rel="stylesheet" href="/css/sinatra-presenter.css" />
  </head>
  <body>
    <script src="/js/zeptojs/zepto.js"></script>
    <script src="/js/appjs-v3/app.min.js"></script>
    <script src="/js/jquery/jquery-2.1.1.js"></script>
    <div class="app-page" data-page="noconnection">
      <div class="app-topbar">
        <div class="app-title">Sinatra presenter</div>
      </div>
      <div class="app-content" id="noconn">
        <p class="noconn tcenter">
          <strong>No connection</strong><br/>
          Start the Sinatra presenter sever.<br/>
          <a href="#" class="app-button" id="instructions">Instructions</a>
        </p>
      </div>
    </div>

    <div class="app-page" data-page="instructions">
      <div class="app-topbar">
        <div class="app-button left" data-back>Back</div>
        <div class="app-title">Server instructions</div>
      </div>
      <div class="app-content">
        <p class="instructions">On your OS X, ensure you have <code>ruby</code>, <code>gem</code> and <code>git</code> installed.</p>
        <p class="instructions">Once <code>ruby -v</code> gives you some sensible result (not an error), install the server:</p>
        <p class="instructions code">
          <code>git clone https://github.com/gossiperl/sinatra-presenter.git</code><br/>
          <code>cd sinatra-presenter</code><br/>
          <code>gem install bundler</code><br/>
          <code>bundle install</code><br/>
        </p>
        <p class="instructions">Place your keynote files in the <code>preos</code> directory.</p>
        <p class="instructions">Start the server:</p>
        <p class="instructions code bottom"><code>ruby app.rb</code></p>
      </div>
    </div>

    <div class="app-page" data-page="list">
      <div class="app-topbar">
        <div class="app-title">Your presentations</div>
      </div>
      <div class="app-content">
        <ul class="app-list" id="presos">
        </ul>
      </div>
    </div>

    <div class="app-page" data-page="presentation">
      <div class="app-topbar">
        <div class="app-title" id="file"></div>
      </div>
      <div class="app-content">
        <h3 class="tcenter">slide <span id="currentSlide"></span> of <span id="totalSlide"></span></h3>
        <div class="scc">
          
          <div class="sc scp" id="btnPrev">
            <span class="helper"></span>
            <img src="/images/prev.png" id="btnPrevImg" />
          </div>
          <div class="sc scn" id="btnNext">
            <span class="helper"></span>
            <img src="/images/next.png" id="btnNextImg" />
          </div>

          <div class="clear">&nbsp;</div>

        </div>
        <div id="stop">
          <div class="app-button" id="stopPreso">Stop presenting</div>
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>